<wicket:panel xmlns:wicket="http://wicket.apache.org">
<form wicket:id="form">
		<p>
			<label>Wochenberichtsheft Berichtsheft:</label> <br /> <select
				wicket:id="sites"></select>
		</p>
	</form>
	<br>
	<br>
<textarea wicket:id="weekText" name="Woche" cols="60" rows="7"></textarea><br>

<label>
<p>Montag &nbsp; &nbsp; &nbsp; Dienstag &nbsp; Mittwoch &nbsp;&nbsp;Donnerstag Freitag </p>
</label>
<select name="monOpt" size="1" >
<option value="Krank">Krank</option>
<option value="Urlaub">Urlaub</option>
<option value="Feiertag">Feiertag</option>
</select>	

<select name="dinOpt" size="1" >
<option value="Krank">Krank</option>
<option value="Urlaub">Urlaub </option>
<option value="Feiertag">Feiertag</option>
</select>
,
<select name="mitOpt" size="1" >
<option value="Krank">Krank</option>
<option value="Urlaub">Urlaub </option>
<option value="Feiertag">Feiertag</option>
</select>

<select name="donOpt" size="1" >
<option value="Krank">Krank</option>
<option value="Urlaub">Urlaub </option>
<option value="Feiertag">Feiertag</option>
</select>

<select name="friOpt" size="1" >
<option value="Krank">Krank</option>
<option value="Urlaub">Urlaub </option>
<option value="Feiertag">Feiertag</option>
</select>
    

<br>



</wicket:panel>
