<wicket:panel xmlns:wicket="http://wicket.apache.org">

	<form wicket:id="form">
		<p>
			<label>Tägliches Berichtsheft:</label> <br /> <select
				wicket:id="sites"></select>
		</p>
	</form>
	<br>
	<br>
	<li class="list-group-item d-flex flex-column" wicket:id="reportView"><br>
		<label wicket:id="dayLabel" for0="Montag"><b>Montag: </b></label><br>
			<textarea wicket:id="dayArea" name="Montag" cols="35" rows="4"></textarea><br>
			<input wicket:id="uCb" type="checkbox" name="Urlaub1">Urlaub</input>
			<input wicket:id="kCb" type="checkbox" name="Krank1">Krank </input> <input
			wicket:id="fCb" type="checkbox" name="Feiertag1">Feiertag</input><br>
	</li>
	<button wicket:id="saveB">Speichern</button>
	<button wicket:id="signB">Signieren</button>

</wicket:panel>
