<wicket:panel xmlns:wicket="http://wicket.apache.org">

	<form wicket:id="form">
		<p>
			<label>Tägliches Berichtsheft:</label> <br /> <select
				wicket:id="sites"></select>
		</p>
	</form>
	<br>
	<br>
	<label for="Montag"><b>Montag: </b><br> <textarea
			id="Montag" name="Montag" cols="35" rows="4"></textarea><br> <input
		type="checkbox" name="Urlaub1">Urlaub</input> <input type="checkbox"
		name="Krank1">Krank </input> <input type="checkbox" name="Feiertag1">Feiertag</input><br>
	</label>
	<br>

	<label for="Dienstag"><b>Dienstag:</b><br> <textarea
			id="Dienstag" name="Dienstag" cols="35" rows="4"></textarea><br>
		<input type="checkbox" name="Urlaub2">Urlaub</input> <input
		type="checkbox" name="Krank2">Krank</input> <input type="checkbox"
		name="Feiertag2">Feiertag</input><br> </label>
	<br>

	<label for="Mittwoch"><b>Mittwoch: </b><br> <textarea
			id="Mittwoch" name="Mittwoch" cols="35" rows="4"></textarea><br>
		<input type="checkbox" name="Urlaub3">Urlaub</input> <input
		type="checkbox" name="Krank3">Krank</input> <input type="checkbox"
		name="Feiertag3">Feiertag</input><br> </label>
	<br>

	<label for="Donnerstag"><b>Donnerstag:</b><br> <textarea
			id="Donnerstag" name="Donnerstag" cols="35" rows="4"></textarea><br>
		<input type="checkbox" name="Urlaub4">Urlaub</input> <input
		type="checkbox" name="Krank4">Krank</input> <input type="checkbox"
		name="Feiertag4">Feiertag</input><br> </label>
	<br>

	<label for="Freitag"><b>Freitag:</b><br> <textarea
			id="Freitag" name="Freitag" cols="35" rows="4"></textarea><br> <input
		type="checkbox" name="Urlaub5">Urlaub</input> <input type="checkbox"
		name="Krank5">Krank</input> <input type="checkbox" name="Feiertag5">Feiertag</input><br>
	</label>
</wicket:panel>
