<!DOCTYPE html>
<html lang="de">
	<head>
		<title>Azubiweb - Benutzer Liste</title>
	</head>
	<body>
		<wicket:extend>
			<ul class="list-group" wicket:id="rolleListView">
            	<li class="list-group-item d-flex flex-column list-group-item-action" wicket:id="rolleLabel"/> 
				<ul class="list-group" wicket:id="ausbildungsJahrListView")>
	            	<li class="list-group-item d-flex flex-column list-group-item-action" wicket:id="ausbildungsJahrLabel"/> 
	            	<ul class="list-group" wicket:id="ausbildungsartListView">
						<li class="list-group-item d-flex flex-column list-group-item-action" wicket:id="ausbildungsartLabel"/> 
		                <li class="list-group-item d-flex flex-column list-group-item-action" wicket:id="benutzerListView"> 
		                    <a wicket:id="listPunktLabel"></a>
		                    
		                     <a class="pull-right" wicket:id="löschenLink">
		                        <span class="p-1 glyphicon glyphicon-trash"></span>
		                    </a>
		                    
		                    <a class="pull-right mr-5" wicket:id="bearbeitenLink">
		                        <span class="p-2 glyphicon glyphicon-pencil"></span>
		                    </a>
		                </li>
		                <br/>
					</ul>
				</ul>
            </ul>
        </wicket:extend>
    </body>
</html>