<!DOCTYPE html>
<html lang="de">

<body>
	<wicket:extend>
		<form wicket:id="userForm" id="userForm">
			<div wicket:id="userInformationPanel" />
			<button class="btn btn-success" type="submit"
				wicket:id="speichernButton">Speichern</button>
			<button class="btn btn-success" type="submit"
				wicket:id="speichernUndZurückButton">Speichern und zurück</button>
		</form>
		<div class="alert alert-success alert-dismissible fade in mt-15"
			wicket:id="erfolgreicherAlertLabelParent">
			<span wicket:id="erfolgreicherAlertLabel" /> <a href="#"
				class="close" data-dismiss="alert" aria-label="close">&times;</a>
		</div>
		<span class="required">Die mit * markierten müssen ausgefüllt
			werden</span>
		<wicket:child />
	</wicket:extend>
</body>

</html>