<!DOCTYPE html>
<html lang="de">
<wicket:head>
	<title>Azubiweb - Berichtsheft</title>
</wicket:head>
<body id="index">
	<wicket:extend>
		<div id="hauptnav" class="navbar">
			<a id="hauptnavigation"></a>
			<div class="navbar-header"></div>
		</div>
		<h2 wicket:id="title">Willkommen auf der
			Online-Berichtsheftabgabe</h2>
		<h2 wicket:id="message">Willkommen auf der
			Online-Berichtsheftabgabe</h2>
		<div>
			<span wicket:id="panel">bar</span>
		</div>
	</wicket:extend>


</body>
</html>